.app-content{
    width:100%;
}

form{
    padding: 10px 30px 20px 25px;
}

md-card{
    margin: 0 30px 25px 30px;
}

md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; 
}
md-content md-tabs md-tabs-canvas {
    background: white; 
}

/*----------------------------------------------------------*/
/*This Section here is just the animation for switching apps*/
/*----------------------------------------------------------*/

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
  height: 100%;
  background: white;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

/*-------------------------------------------------------------------------------*/
/*This Section here is just the animation for when adding or removing a card apps*/
/*-------------------------------------------------------------------------------*/


.cardFade {
    transition: 0.75s linear all;
    opacity: 1;
}
.cardFade.ng-hide {
    opacity: 0;
}

/*-----------------------------------------------------*/
/* This section stylizes the weather container section*/
/*-----------------------------------------------------*/

#container {
    width:90%; 
    border:none;
    text-align:center;
}

.dayContainer {
    width: 19%;
    height: 200px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width .05s;
    display:inline-table;
    border-style:ridge;
    border-width:3px;
    margin-right:1px;
}

.highTempDetails{
    line-height: 200px; 
    font-size:44px;  
    content:"";
}

.dayContainer:hover {
    width: 19%;
    border-style:inset;
}

.dayContainer:hover .hover-content {
    display:block;
}
    
.hover-content {
    display:none;
    width:100%;
    text-align: left;
    padding:5px;
    position: relative;
}