<!DOCTYPE html> 
<html> 
    <head lang="en"> 
        <meta charset="UTF-8">         
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0"/>         
        <title>Application Hub</title>    
        
        <!-- Bower CSS Components-->
        <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css"/>         
        <link href="node_modules/hover.css/css/hover-min.css" rel="stylesheet">
        
        <!-- Custom CSS      -->
        <link rel="stylesheet" type="text/css" href="CSS/style.css"/>  
        <link rel="stylesheet" type="text/css" href="CSS/style.css"/>         
        <script src="bower_components/snap.svg/dist/snap.svg.js"></script>

    </head>     
    <body ng-app="routerApp" ng-controller="MainController" layout="column" layout-align="top center" md-theme="{{themeName}}"> 
        
        <!-- This is the title bar.        -->
        <md-toolbar class="md-fixed"> 
            <div class="md-toolbar-tools" > 
                <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings"> 
                    <md-icon md-svg-icon="bower_components/icons/ic_menu_24px.svg"></md-icon>                     
                </md-button>                 
                <h2 style="padding-left:20px"> <span>{{pageName}}</span> </h2> 
                <span flex></span> 
                <md-button ng-click="goToTop()" class="md-icon-button" aria-label="Move To Top"> 
                    <md-icon md-svg-icon="bower_components/icons/ic_expand_less_24px.svg" ng-show="showCarrot()"></md-icon>
                </md-button>
                <md-button ng-click="showGridBottomSheet($event)">
                    <md-icon md-svg-icon="bower_components/icons/ic_more_vert_24px.svg"></md-icon>
                </md-button>
            </div>             
        </md-toolbar>   
        <br>
        
        <md-content class="ui-view-container">
            <!--    This is where the router will place content-->
            <div ui-view> 
                    <!-- This is where the differnt views will be placed.-->
                
            </div>
        </md-content>
        
        
        <!-- This is the side nav bar       -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"> 
            <md-toolbar> 
                <h1 class="md-toolbar-tools">Applications</h1> 
            </md-toolbar>             
            <md-content ng-controller="LeftCtrl"> 
                <md-list layout="column"> 
                    <md-subheader flex class="md-no-sticky">Choose your app</md-subheader>
                    <md-item ng-repeat='link in sideNavLinks' ng-click="close(); changePageName(link.pageName);" class="hvr-underline-reveal" ui-sref={{link.siteName}} style="cursor:pointer">
                        <a>
                            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                                <div class="inset">
                                    <md-icon md-svg-icon={{link.thumbNailPath}}></md-icon>
                                </div>
                                <div class="inset" >
                                    {{link.linkText}}
                                </div>
                            </md-item-content>
                        </a>
                    </md-item>                
                </md-list>    
            </md-content>             
        </md-sidenav>    
        
        <!--Bower dependencies -->
        <script src="bower_components/angular/angular.min.js"></script>         
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>         
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>         
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>         
        <script src="bower_components/hammerjs/hammer.min.js"></script>         
        <script src="bower_components/angular-material/angular-material.js"></script> 
        <script src="bower_components/snap.svg/dist/snap.svg.js"></script>
        
        <!--Main Module-->
        <script src="app.js"></script>         
        
        <!--Controller Imports-->
        <script src="Controllers/GridBottomSheetCtrl.js"></script>
        <script src="Controllers/LeftCtrl.js"></script>
        <script src="Controllers/ToastCtrl.js"></script>
        
        <!--Factory Imports-->
        <script src="Factories/weather.js"></script>
        
    </body>     
</html>