<md-content class="md-padding">
   
     <md-card class="md-whiteframe-z2" style="background-color:{{cardBackGround}}" layout="column">

        <!--Card Header-->
        <md-toolbar class="md-accent" >
            <h1 class="md-toolbar-tools" layout-align="center">
                <span>Welcome to the Material Greensock animation App</span>
            </h1>
        </md-toolbar>

        <md-card-content  layout="column" layout-align="center center">

            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab label="First animation">
                <md-content class="md-padding">
                  <p>Place holder for the First View</p>
                </md-content>
              </md-tab>
              <md-tab label="Second animation">
                <md-content class="md-padding">
                  <p>Placeholder for Second View</p>
                </md-content>
              </md-tab>
              <md-tab label="Third animation">
                <md-content class="md-padding">
                  <p>Placeholder for Third view</p>
                </md-content>
              </md-tab>
            </md-tabs>

        </md-card-content>
    </md-card>
  </md-content>