<md-content>
   
     <md-card class="md-whiteframe-z2" style="background-color:{{cardBackGround}}" layout="column">

        <!--Card Header-->
        <md-toolbar class="md-accent" >
            <h1 class="md-toolbar-tools" layout-align="center">
                <span>Welcome to the Material Weather App</span>
            </h1>
        </md-toolbar>

        <md-card-content layout="column" layout-align="center center">
            
            <form>
                <div layout="row" layout-align="start">
                    <md-input-container>
                        <label>Enter Zip Code</label>
                        <input type="text" style="padding-right:10px" label="City Zip Code" ng-model="CityZipCode" class="long"></input>
                    </md-input-container>
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="findWeather(CityZipCode); showLocation = true; console.log(showLocation)">
                        <md-icon md-svg-icon="bower_components/icons/ic_search_24px.svg"></md-icon>
                    </md-button>
                </div>
            </form>
         
         </md-card-content>
    </md-card>
    
    <md-card ng-show="showLocation" class="md-whiteframe-z2 cardFade" style="background-color:{{cardBackGround}}" layout="column">
        
        <!--Card Header-->
        <md-toolbar style="background:grey">
            <h1 class="md-toolbar-tools" layout-align="center">
                <span>{{place.location.city + ', ' + place.location.region}}</span>
            </h1>
        </md-toolbar>
    
        <md-card-content layout="column" layout-align="center center">


                <md-tabs md-dynamic-height md-border-bottom>
                  <md-tab label="Current Temp">
                    <md-content class="md-padding">

                      <p ng-show="place">
                        Temperature pulled at {{place.item.condition.date}} <br />
                        Degrees: {{place.item.condition.temp}} °F.<br />
                        Details: <br />
                          The weather is {{place.item.condition.text | lowercase}}. <br />
                          The sun will rise at {{place.astronomy.sunrise}} today. <br />
                          The sun will set at {{place.astronomy.sunset}} tonight. <br />
                          The current humidity level is {{place.atmosphere.humidity}}. <br />
                      </p>
                    </md-content>
                  </md-tab>
                  <md-tab label="5 Day Forecast">
                    <md-content class="md-padding">
                      <p>
                        <div id="container" ng-show="place">
                        <md-grid-list
                          md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" 
                          md-row-height-gt-md="1:1" md-row-height="4:3"
                          md-gutter="8px" md-gutter-gt-sm="4px">
                            <md-grid-tile class = "dayContainer"  ng-repeat="n in [0, 1, 2, 3, 4] track by $index">
                                <span class = "highTempSummary">{{place.item.forecast[n].day}} ({{place.item.forecast[n].high}}°F) <br /></span>
                                <div class = "hover-content">
                                    <u>{{place.item.forecast[n].day}} - {{place.item.forecast[n].date}} </u> <br />
                                    High: {{place.item.forecast[n].high}} <br />
                                    Low: {{place.item.forecast[n].low}} <br />
                                    Forecast: {{place.item.forecast[n].text}}
                                </div >
                            </md-grid-tile >
                        </md-grid-list>
                        </div>
                      </p>
                   </md-content>
                  </md-tab>
                  <md-tab label="Table">
                    <md-content class="md-padding">
                      <p>Placeholder for Table view</p>
                    </md-content>
                  </md-tab>
                </md-tabs>
            </md-card-content>
    </md-card>
      </md-content>